
  <div class="jumbotron">
    <div class="index-title">
      <h1 class="title">新希望招聘网</h1>
      <p class="slogan">在这里，你可以找到足球的一切。
      <br>
      在这里，你可以实现足球的梦想。
      <br>
       这里是新希望！
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上上场</a></p>

    </div>
  </div>


   <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">足球专业人士</h2>
             <p class="lead">你是专业教练或者从事足球相关行业多年</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>


<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">你是专业球员退役</h2>
        <p class="lead">想从事教练、球探等工作，点击进入<br><a target="_blank" href="">Blog</a></p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-5.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">你是菜鸟！</h2>
        <p class="lead">你纯属热爱，但你有梦想<br>那来吧!<br><a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-6.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
